*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
        background-color: #f9f6f2;
}
h1.text-center {
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 4rem; /* Increase font size for emphasis */
    color: #1a1a1a; /* Darker color for better contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Soft text shadow for depth */
    letter-spacing: 1px; /* Add a little letter spacing for clarity */
    line-height: 1.2; /* Adjust line height for better readability */
    margin-bottom: 20px; /* Increase bottom margin for separation */
}

.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
h3,h5{
    color: rgb(0, 91, 228);
}